<form action="/search/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<div>
    <h2>
        Users
    </h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Phone Number</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>
                    <a href="/users/{{user.id}}/">
                        {{user.id}}
                    </a>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.username}}</td>
                <td>{{user.phone_number}}</td>
            </tr>
            {{user}}
        {% endfor %}
        </table>
</div>